@import url("https://fonts.googleapis.com/css?family=Courgette|Cantarell:400i|Ubuntu");
/* line 12, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
p,
h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  text-shadow: 0px 3px 5px #000000;
}

/* line 18, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
input.btn.btn-primary {
  font-family: 'Ubuntu', sans-serif;
  background-color: #235078;
}

/* line 23, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel {
  text-align: center;
}
/* line 25, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .background {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: #444 url(../tubs.jpg) center center no-repeat fixed;
  background-size: cover;
  -webkit-filter: blur(3px) brightness(70%);
  -moz-filter: blur(3px) brightness(70%);
  -o-filter: blur(3px) brightness(70%);
  -ms-filter: blur(3px) brightness(70%);
  filter: blur(3px) brightness(70%);
}
/* line 39, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container {
  height: 100vh;
  padding-top: 1px;
  position: relative;
  width: 100%;
  z-index: 10;
}
/* line 45, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container .landing_message {
  margin: 0 78px;
}
/* line 47, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container .landing_message h1 {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 4px;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 54, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container .landing_message p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin: auto;
  width: 100%;
}
/* line 61, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container .video_wrapper {
  height: 77%;
  margin: 15px 75px;
}
/* line 64, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.first_panel .mission_container .video_wrapper #video_front_page {
  border-radius: 4px;
  border: 5px outset rgba(102, 102, 102, 0.78);
  height: 90%;
  width: 100%;
}

/* line 74, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel {
  background-position: 0px 125px;
  background: url(../doctor_male.jpg) center center no-repeat;
  color: #ffffff;
  font-weight: 500;
  height: 300px;
  letter-spacing: 3px;
  padding: 40px 90px;
  text-align: center;
}
/* line 83, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.dim_background {
  background: rgba(51, 51, 51, 0.65);
  height: 100%;
  box-shadow: 0 0 5px #000000;
}
/* line 89, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.sub_message h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 0;
}
/* line 97, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper {
  width: 100%;
}
/* line 99, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper .nifty_form {
  width: 100%;
  padding: 25px 14%;
}
/* line 102, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper .nifty_form .form-control {
  width: 40%;
  margin: 0 4%;
  background: rgba(51, 51, 51, 0.65);
  font-family: 'Ubuntu', sans-serif;
  color: #676767;
  border: 1px solid rgba(51, 51, 51, 0.65);
  display: inline-block;
  float: left;
}
/* line 111, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper .nifty_form .form-control:focus {
  background-color: rgba(70, 70, 70, 0.53);
}
/* line 114, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper .nifty_form .form-control .btn {
  display: inline-block;
  float: left;
}
/* line 119, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.second_panel div.subscriptions_form_wrapper .nifty_form #subscription_email {
  width: 60%;
}

/* line 126, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.foorter_panel {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.65);
}
/* line 129, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.foorter_panel h1 {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0;
}
/* line 133, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
section.foorter_panel p {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

/* line 138, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
.pop-up-button {
  background: rgba(18, 129, 208, 0.97);
  text-shadow: none;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-weight: bold;
}
/* line 151, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
.pop-up-button:hover {
  background: #2f7090;
}

/* line 155, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
.pop-up {
  height: auto;
  width: 50%;
  margin: 10vh auto;
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  z-index: 100;
}

/* line 165, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
span {
  border-radius: 3em;
  margin-left: 95%;
  background: #000000;
  color: #ffffff;
  font-size: 1.25em;
  padding: .4em .7em;
  cursor: pointer;
}

/* line 174, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
.pop-up-text {
  box-sizing: border-box;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  /* line 182, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .landing_message {
    margin: none;
  }
  /* line 184, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .landing_message h1 {
    margin-top: 70px;
  }
  /* line 188, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .video_wrapper {
    height: auto;
    margin: 50px 34px;
  }
  /* line 191, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .video_wrapper #video_front_page {
    height: 235px;
    margin: 0px 0px;
  }

  /* line 199, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.second_panel {
    padding: 36px 24px;
  }
  /* line 201, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.second_panel .dim_background {
    border-radius: 20px;
    height: 250px;
    box-shadow: 0 0 10px 0px #333;
  }
  /* line 205, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.second_panel .dim_background .sub_message {
    margin: 5px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  /* line 215, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .landing_message h1 {
    margin-top: 50px;
  }
  /* line 219, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .video_wrapper {
    height: auto;
    margin: 51px 34px;
  }
  /* line 222, /Users/kevinhu/Desktop/job_project/medical_device_page/medical_devices/app/assets/stylesheets/application.css.scss */
  section.first_panel .mission_container .video_wrapper #video_front_page {
    height: 336px;
  }
}
