<section class="front_page background">
    <div class="landing_text">
      <!-- <h3>Medical Device Market</h3> -->
      <!-- <p>Staying Current With The Newest In Medical Device Technology Like Never Before</p> -->
      <%= render 'layouts/subscribe' %>
      <div class="buttons">
        <a href="#hestia_features" class="btn btn-primary btn-lg">Subscribe</a>
      </div>
    </div>
</section>
