

// @import subscriptions.js;
//variables
$white: #ffffff;
$black_transparent: rgba(51, 51, 51, 0.65);
$black_darker_transparent: rgba(0,0,0,0.7);
$focus_input: rgba(70, 70, 70, 0.53);
$black: #000000;
$gray: #676767;
$button_blue: rgba(18, 129, 208, 0.97);
$button_hover: #2f7090;
$font_palyfair: 'Playfair Display', serif;
$font_crimson: "Crimson Text";

// globol style



input.btn.btn-primary {
  font-family: 'Ubuntu', sans-serif;
  background-color: $button_blue;
}

section.first_panel {
  text-align: center;
  height: 100vh;
  .background {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background: $gray url(../tubs.jpg) center center no-repeat fixed;
    background-size: cover;
    -webkit-filter: blur(3px) brightness(70%);
    -moz-filter: blur(3px) brightness(70%);
    -o-filter: blur(3px) brightness(70%);
    -ms-filter: blur(3px) brightness(70%);
    filter: blur(3px) brightness(70%);
  }
  .mission_container {
    height: 100%;
    width: 100%;
    padding-top: 1px;
    position: relative;
    z-index: 10;
    .landing_message {
      margin: 0 78px;
      margin-bottom: 50px;
        h1 {
        color: $white;
        font-family: $font_palyfair;
        letter-spacing: 4px;
        margin-top: 10px;
        margin-bottom: 0px;
        }
        p {
        font-family: $font_crimson;
        color: $white;
        font-size: 18px;
        margin: auto;
        width: 100%;
      }
    }
    .video_wrapper {
      height: 65%;
      width: 60%;
      margin: 0 auto;
      #video_front_page {
        border-radius: 4px;
        border: 5px outset $gray;
        height: 90%;
        width: 100%;
      }
    }
  }
}
.pop-up {
  width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      /* left: 30%; */
      /* margin: -50px 0 0 -100px; */
      background: $black_darker_transparent;
}
.first_and_last_name {
  display: inline-block;
  width: 30%;
  height: 33px;
  padding: 6px 12px;
  margin: 2%;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.email_field {
  display: inline-block;
      width: 64.5%;
      height: 33px;
      padding: 6px 12px;
      margin-bottom: 2%;
      font-size: 14px;
      color: #555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
  display: inline-block;

  margin: 0 5%;
}
.sub_popup{

}
.pop-up .form_wrapper {
  margin: 14% 5%;
}
// .form-control {
//   display: inline-block;
//   width: 40%;
//   margin: 0 4%;
//   background: $black_transparent;
//   font-family: 'Ubuntu', sans-serif;
//   color: $gray;
//   border: 1px solid $black_transparent;
//   display: inline-block;
//   float: left;
//   &:focus {
//     background-color: $focus_input;
//   }

// }
// section.second_panel {
//   background-position: 0px 125px;
//   background: url(../doctor_male.jpg) center center no-repeat;
//   color: $white;
//   font-weight: 500;
//   height: 300px;
//   letter-spacing: 3px;
//   padding: 40px 90px;
//   text-align: center;
//   div.dim_background {
//     background: $black_transparent;
//     height: 100%;
//     box-shadow: 0 0 5px $black;
//     border-radius: 15px;
//   }
  // div.sub_message {
  //   h2 {
  //     font-family: 'Ubuntu', sans-serif;
  //     font-size: 30px;
  //     padding-top: 25px;
  //     padding-bottom: 20px;
  //     margin: 0;
  //   }
  // }
//   div.subscriptions_form_wrapper {
//     width: 100%;
//     .nifty_form {
//       width: 100%;
//       padding: 25px 14%;
//       .form-control {
//         display: inline-block;
//         width: 45%;
//         margin: 0 4%;
//         background: $black_transparent;
//         font-family: 'Ubuntu', sans-serif;
//         color: $gray;
//         border: 1px solid $black_transparent;
//         display: inline-block;
//         float: left;
//         &:focus {
//           background-color: $focus_input;
//         }
//       .btn {
//         display: inline-block;
//         float: left;
//       }
//       }
//       #subscription_email {
//         width: 60%;
//       }
//     }
//   }
// }

section.foorter_panel {
  text-align: center;
  background-color: $white;
  h1 {
    // font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
  }
  p {
    // font-family: 'Ubuntu', sans-serif;
    margin: 0;
  }
}
.pop-up-button {
  background: $button_blue;
  // text-shadow: none;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: $white;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid $white;
  cursor: pointer;
  font-weight: bold;
  &:hover{
    background: $button_hover;
  }
}

span {
  border-radius: 3em;
  margin-left: 95%;
  background: $black;
  color: $white;
  font-size: 1.25em;
  padding: .4em .7em;
  cursor: pointer;
}
.pop-up-text {
  box-sizing: border-box;
  padding: 20px;
}

// medica query
@media screen and (max-width: 500px) {
  section.first_panel {
    .mission_container {
      .landing_message {
        margin: none;
        h1 {
          margin-top: 70px;
        }
      }
      .video_wrapper {
        height: auto;
        margin: 50px 34px;
        #video_front_page {
          height: 235px;
          margin: 0px 0px;
        }
      }
    }
  }
  section.second_panel {
    padding: 36px 24px;
    .dim_background {
      border-radius: 20px;
      height: 250px;
      box-shadow: 0 0 10px 0px $gray;
      .sub_message {
        margin: 5px;
      }
    }
  }
}
@media screen and (min-width: 501px) and (max-width: 700px)  {
  section.first_panel {
    .mission_container {
      .landing_message {
        h1 {
          margin-top: 50px;
        }
      }
      .video_wrapper {
        height: auto;
        margin: 51px 34px;
        #video_front_page {
          height: 336px;
        }
      }
    }
  }
}
