@import "animation";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Roboto|Ubuntu');
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Cormorant Garamond', serif;
//variables
$white: #ffffff;
$shadow_black: #000000;
// globol style
p,
h1,h2,h3,h4 {
  color: $white;
  text-shadow: -3px 3px 3px $shadow_black;
  font-family: 'Roboto', sans-serif;

}
//navbar
header#banner {
  position: absolute;
  width: 100%;
  z-index: 10;
  #logo-main {
    margin: 15px 20px;
    width: 55px;
  }
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
    float: right;
    margin: 20px;
    .navbar-nav {
      width: 100%;
      float: right;
      > li {
        display: inline-block;
        float: none;
        > a {
          padding-left: 30px;
          padding-right: 30px;
          color: $white;
          letter-spacing: 5px;
          }
      }
    }
  }
}
//navbar end
section.front_page {
  text-align: center;

      .background {
        height: 100vh;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;

        display: block;
        background: #444 url(../tubs.jpg) center center no-repeat fixed;
        background-size: cover;
        z-index: 1;
        -webkit-filter: blur(3px) brightness(70%);
        -moz-filter: blur(3px) brightness(70%);
        -o-filter: blur(3px) brightness(70%);
        -ms-filter: blur(3px) brightness(70%);
        filter: blur(3px) brightness(70%);
      }

    .mission_statement {
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 9999;
      padding-top: 25px;
      h2 {
        color: $white;
        font-weight: 600;
        text-shadow: -3px 3px 3px $shadow_black;
        letter-spacing: 5px;
      }
      p {
        font-size: 18px;
        width: 540px;
        margin: auto;
      }
      .button_wrapper {
        padding-top: 100px;
      }
    }
    .video_wrapper {
      padding-top: 25px;
      height: 400px;
      .front_page_video {
        border-radius: 20px;
        padding: 20px 20px;

      }
    }
    div.subscriptions_form_wrapper {
      bottom: 0;
      position: absolute;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      .form-group {
        margin: 15px;

        .nifty_form {
          display: inline-flex;
          .form-control {
            width: 250px;
            margin: 0px 20px;
          }
        }
      }



    }
}
section.footer {
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(51, 122, 183, 0.45);
  text-align: center;
}
