<header id="banner">
  <a href="/">
    <img id="logo-main" src="/raw2.png" alt="Medical Device Market">
  </a>
  <!-- <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/subscriptions/new">Subscribe</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
</header><!-- header role="banner" -->
